<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }
    
    h2 {
        font-size: 24px;
        color: #333;
        margin: 20px;
    }
    
    a {
        display: block;
        text-align: center;
        font-size: 18px;
        color: #fff;
        background-color: #4CAF50;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin: 20px auto;
        width: 150px;
    }</style>
</head>
<body>
    <h2>Time selecionado: {{ team }}</h2>
    <a href="/usuarios/home/"><button>ir para a home page</button></a>
</body>
</html>