<!DOCTYPE html>
<html>
<head>
    <title>Devolução do Produto</title>
</head>
<body>
    <h2>Formulário de Devolução do Produto</h2>

    <form>
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="produto">Nome do Produto:</label><br>
        <input type="text" id="produto" name="produto"><br>
        <label for="motivo">Motivo da Devolução:</label><br>
        <textarea id="motivo" name="motivo"></textarea><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
