<html><head>
	<title>Camisas NE</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/telainicialprodutos.css">
</head>
<body>
	<header>
		<h1>Camisas NE</h1>
		<a href="/usuarios/login/"><button>LOGIN</button></a>
		<br/>
		<br/>
		<a href="/usuarios/cadastro/"><button>CADASTRO</button></a>
	</header>
	<main>
		<section>
			<h2>Camisas</h2>
			<ul>
				<li>
					<img src="camisa1.jpg" alt="Camisa 1">
					<h3>Camisa 1</h3>
					<p>Camisa do Time X</p>
					<p>Preço: R$ 99,90</p>
					<button>Adicionar ao Carrinho</button>
				</li>
				<li>
					<img src="camisa2.jpg" alt="Camisa 2">
					<h3>Camisa 2</h3>
					<p>Camisa do Time Y</p>
					<p>Preço: R$ 89,90</p>
					<button>Adicionar ao Carrinho</button>
				</li>
				<li>
					<img src="camisa3.jpg" alt="Camisa 3">
					<h3>Camisa 3</h3>
					<p>Camisa do Time Z</p>
					<p>Preço: R$ 109,90</p>
					<button>Adicionar ao Carrinho</button>
				</li>
			</ul>
		</section>
	</main>
	<footer>
		<a href="/usuarios/carrinho/"><button>Carrinho</button></a>
	</footer>


</body></html>